body{
    background-image: linear-gradient(
        rgb(59,88,93),
        rgb(29,40,42)
        );
    height: 100vh;
    color: white;
    font-family: sans-serif;
    display: flex; /*Muda a disposição da tela por linhas*/
    flex-direction: column; /*Definindo a direção*/
}

#line-one {
    margin-left: 10px;
    display: flex; /*Muda a disposição da tela por linhas*/
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

